h1 a {
	color: #FCA205;
}

#content {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

#map_container {
	height: 100%;
	background: blue;
}

#control_container {
	padding-top: 10px;
}

#slider {
	background: #81bfde;
}

.slider.slider-horizontal{
	width: 95%;
}

/* SIDE MENU */
.nav-sidebar {
	margin-right: -15px;
	margin-left: -15px;
}
.nav-sidebar .active a, .nav-sidebar .active a:hover, .nav-sidebar .active a:focus {
	color: #fff;
	background-color: #428bca;
}



/*  LOADER ANIMATION  */
div.loadOverlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 1;
}
div.loadOverlay:before {
	content: " ";
	position: absolute;
	top: calc(50% - 60px);
	left: calc(50% - 60px);
}

div.loadOverlay:before, .loader {
	border: 1em solid #555; /* Light grey */
	border-top: 1em solid #3498db; /* Blue */
	border-radius: 50%;
	width: 4em;
	height: 4em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}